[Desktop Entry]
Name=Obsidian
Exec=obsidian --ozone-platform=wayland --enable-features=UseOzonePlatform %u
Terminal=false
Type=Application
Categories=note
MimeType=text/html;x-scheme-handler/obsidian;
