[Desktop Entry]
Name=st
GenericName=Terminal
Comment=Suckless terminal emulator for X
Exec=st -t "Simple Terminal"
Terminal=false
Type=Application
Encoding=UTF-8
Icon=utilities-terminal
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
