* {
  all: unset; //Unsets everything so you can style everything from scratch
}

// Colors
$foreground: #DCD7BA;
$background: #272727;
$secondary: #807C72;
$urgent: #FFA066;

//Global Styles
.bar {
  background-color: $background;
  color: $foreground;
  font-size: 0.78rem;
  font-family: "Fira Code Nerd Font";
}

// Styles on classes (see eww.yuck for more information)

.powermenu {
    background-color: $background;
	border: 1px solid $foreground;
	border-radius: 5px;
	color: $foreground;
	font-size: 2rem;
    padding: 8px 0px 8px 0px;
}

.powermenu-entry {
    margin-left: -4px;
}

.powermenu-label {
    font-size: 1.1rem;
    padding-right: 16px;
    margin-left: -16px;
}

.left {
  margin-left: 40px;
  margin-top: 7px;
}

.right {
  margin-right: 40px;
}

.workspaces {
  button {
	margin: 0px 3px;
  }

  .occupied {
	color: $secondary;
  }

  .focused {
	color: $foreground;
  }

  .urgent{
	color: $urgent;
  }

  .empty{
	color: $secondary;
  }
}

.workspaces button:hover {
	color: $urgent;
}

.bluetooth {
	margin-left: -5px;
	margin-right: 5px;
}

.power {
	margin-left: 5px;
}

